# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
#Importing reqiured libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com")

In [4]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

In [7]:
search_loc.send_keys("Bangalore")

In [8]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [9]:
#url of the webpage to be scraped
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [10]:
driver.get(url)

In [11]:
#List for storing information
job_title = []
comp_name = []
loca = []
exp = []

In [12]:
#Extracting job title
t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

In [13]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Azure Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']

In [14]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [15]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['Capgemini Technology Services India Limited',
 'RedLock, Inc',
 'Super India Tech Mark',
 'tech mahindra ltd']

In [16]:
#Extracting location
l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [17]:
for i in l_n:
    locations = i.text
    loca.append(locations)
loca[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru']

In [18]:
#Extracting company name
e_r = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [19]:
for i in e_r:
    expe = i.text
    exp.append(expe)
exp[0:4]

['6-8 Yrs', '0-0 Yrs', '0-2 Yrs', '4-8 Yrs']

In [20]:
#Checking lengths of all four lists
print(len(t_t),len(c_n),len(l_n),len(e_r))

20 20 20 20

In [21]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Title']=job_title
naukri['Company Name']=comp_name
naukri['Locations']=loca
naukri['Experience Required']= exp

In [22]:
naukri.head(10)

,Title,Company Name,Locations,Experience Required
0,Azure Data Analyst,Capgemini Technology Services India Limited,Bangalore/Bengaluru,6-8 Yrs
1,Data Analyst,"RedLock, Inc",Bangalore/Bengaluru,0-0 Yrs
2,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
3,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
4,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
5,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-8 Yrs
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs

# Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [23]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [24]:
driver.get("https://www.naukri.com")

In [25]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [26]:
search_job.send_keys("Data Scientist")

In [27]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

In [28]:
search_loc.send_keys("Bangalore")

In [29]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [30]:
#url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [31]:
driver.get(url)

In [32]:
#List for storing information
job_title = []
comp_name = []
loca = []
desc = []

In [33]:
#Extracting job title
t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

In [34]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist/ Analyst',
 'Data Scientist - Machine Learning']

In [35]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [36]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'Becton Dickinson India Pvt. Ltd',
 'AugmatrixGo']

In [37]:
#Extracting location
l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [38]:
for i in l_n:
    locations = i.text
    loca.append(locations)
loca[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [39]:
#Extracting Description
d_c = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")

In [40]:
for i in d_c:
    des = i.text
    desc.append(des)
desc[0:4]

['Flexibility in working independently and do needful research whenever requiredGood Know...',
 'Looking for IIT, IIIT IISc, NIT, BIT & Equivalent colleges (Preferred)Flexibility in wo...',
 'Minimum 2 years of relevant work experience PreferredExperience with Python, R, Hadoop,...',
 'BTech / MTech degree in from reputed institutes like IIT / NIT / BITSSkills Required : ...']

In [41]:
#Checking lengths of all four lists
print(len(t_t),len(c_n),len(l_n),len(d_c))

20 20 20 20

In [42]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Title']=job_title
naukri['Company Name']=comp_name
naukri['Locations']=loca
naukri['Description']=desc

In [43]:
naukri.head(10)

,Title,Company Name,Locations,Description
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,Flexibility in working independently and do ne...
1,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,"Looking for IIT, IIIT IISc, NIT, BIT & Equival..."
2,Data Scientist/ Analyst,Becton Dickinson India Pvt. Ltd,Bangalore/Bengaluru,Minimum 2 years of relevant work experience Pr...
3,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,BTech / MTech degree in from reputed institute...
4,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru",Must HaveGood to haveHuman Resources experienc...
5,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Required Technical and Professional ExpertiseP...
6,DBCG IND - GAMMA Senior Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",What Youll Do We re looking for a passionate a...
7,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Bachelors / Masters degree in Engineering / Te...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Logical and Analytical skills must be really s...
9,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,"medical voice of customer feedback, customer l..."

# Q3. Scrape data using the filters available on the webpage.

In [44]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [45]:
driver.get("https://www.naukri.com")

In [46]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [47]:
search_job.send_keys("Data Scientist")

In [48]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [49]:
#url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist"

In [50]:
driver.get(url)

In [51]:
#List for storing information
job_title = []
comp_name = []
loca = []
exp = []

In [52]:
#Location Button
loc_btn = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc_btn.click()

In [54]:
#Salary Button
sal_btn = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_btn.click()

In [55]:
#Extracting job title
t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

In [56]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist - IBM Garage',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Data Scientist',
 'Data Scientist - Python & Machine Learning']

In [57]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [58]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['IBM India Pvt. Limited',
 'Change leaders',
 'Amity University',
 'FUTURES AND CAREERS']

In [59]:
#Extracting location
l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [60]:
for i in l_n:
    locations = i.text
    loca.append(locations)
loca[0:4]

['Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, Ghaziabad',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [61]:
#Extracting company name
e_r = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [62]:
for i in e_r:
    expe = i.text
    exp.append(expe)
exp[0:4]

['5-8 Yrs', '5-10 Yrs', '6-8 Yrs', '2-7 Yrs']

In [63]:
#Checking lengths of all three lists
print(len(t_t),len(c_n),len(l_n),len(e_r))

20 20 20 20

In [64]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Title']=job_title
naukri['Company Name']=comp_name
naukri['Locations']=loca
naukri['Experience']= exp

In [65]:
naukri.head(10)

,Title,Company Name,Locations,Experience
0,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",6-8 Yrs
3,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
5,Females Required- Data Scientist- Noida,Randstad,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs
6,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs
7,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
8,Hiring For Data Scientist,Max Bupa Health Insurance Company Limited,"Gurgaon/Gurugram, Delhi / NCR",1-6 Yrs
9,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs

# Q4. Scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
1. First get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [2]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [4]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [6]:
search_job = driver.find_element_by_xpath("//input[@id='scKeyword'][1]")

In [7]:
search_job.send_keys("Data Scientist")

In [8]:
search_loc = driver.find_element_by_xpath("//input[@id='scLocation'][1]")

In [9]:
search_loc.send_keys("Noida")

In [10]:
search_btn=driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm SearchStyles__searchKeywordSubmit']")
search_btn.click()

In [11]:
url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [12]:
driver.get(url)

In [34]:
#List for storing information
job_title = []
days = []
rating = []

In [35]:
#Extracting Company title
t_t = driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
t_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="c0137f38-955c-49fb-b6aa-86d969d4b948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="6de56ee6-99d5-4096-b82e-32eb7cf242cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="59446405-e1f8-4f6c-9a1e-bdd4e72fff1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="b415a12b-f19f-4989-9e66-70f5af3662b6")>]

In [36]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Adobe', 'Biz2Credit Inc', 'MasterCard', 'Asquero']

In [37]:
#Extracting No of days
n_d = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
n_d[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="be77d3fe-8758-46de-88e2-623a3ed4dda6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="33b63e23-1583-4f33-a8c9-dc6a517d4b48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="4f76b001-455d-405d-bf67-4e1bda8a0ba1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="67a8210d-666c-4748-9fd7-649fe8108640")>]

In [38]:
for i in n_d:
    da = i.text
    days.append(da)
days[0:4]

['15d', '30d+', '2d', '10d']

In [39]:
#Extracting Ratings
r_t = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
r_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="11a7c20c-c1dc-4163-8c2d-55951d3582ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="54aeeca0-fec8-4b53-91ca-3b865d2bb9c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="0e0b4272-fcb3-41da-8f11-db6062ae3101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f1ee8eb12a8ad3c16c40d27730a17355", element="46310ceb-0430-484c-8418-2ea80412b239")>]

In [40]:
for i in r_t:
    rat = i.text
    if rat != ' ':
        rating.append(rat)
    else:
        rating.append(0)
rating[0:4]

['4.4', '3.8', '4.2', '5.0']

In [41]:
#Checking lengths of all three lists
print(len(t_t),len(n_d),len(r_t))

30 30 20

In [42]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Company Name']= job_title[:10]
naukri['No of days posted']=days[:10]
naukri['Ratings']=rating[:10]

In [43]:
naukri

                   Company Name No of days posted Ratings
0                         Adobe               15d     4.4
1                Biz2Credit Inc              30d+     3.8
2                    MasterCard                2d     4.2
3                       Asquero               10d     5.0
4                           JLL               24h     4.0
5               Dürr Somac GmbH              30d+     3.8
6                       WishFin              30d+     4.4
7                     Microsoft              30d+     3.0
8  Salasar New Age Technologies              30d+     3.0
9                      Ohmyhome                7d     3.9

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
5. Store the data in a dataframe.

In [44]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [45]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [49]:
search_job = driver.find_element_by_xpath("//input[@class='keyword']")

In [50]:
search_job.send_keys("Data Scientist")

In [51]:
search_loc = driver.find_element_by_xpath("//input[@class='loc'][1]")

In [52]:
search_loc.send_keys("Noida")

In [53]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [54]:
url = "https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [57]:
driver.get(url)

In [68]:
comp_name = []
salary = []
avg_sal = []
min_sal = []
max_sal = []

In [66]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
c_n[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="dc97dee9-7138-4574-b2db-4dd199ef5a6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="1b01fa7e-0a90-4ee0-bd72-f99acb7ea83a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="0fca250b-b2dc-4530-ae86-90aeb22dfdfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="963f8520-cb37-43e2-8bd9-5fdc05af19ab")>]

In [69]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['Tata Consultancy Services', 'Accenture', 'Delhivery', 'IBM']

In [70]:
#Extracting no of salary
s_ = driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
s_[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="908531e3-bbfa-4997-b574-8e7e82de7aee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="384d7343-f167-452e-8fa2-f3d33ade9ad0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="a7108371-4719-4def-bb59-3b80d17f6fd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="013d1ed7-5980-4129-a27f-0459e7c0962d")>]

In [71]:
for i in s_:
    nsal = i.text
    salary.append(nsal)
salary[0:4]

['14 salaries', '14 salaries', '14 salaries', '13 salaries']

In [72]:
#Extracting average salary
a_s = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
a_s[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="b536106c-6fa2-45f9-bc18-540c0efa20f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="805d4d48-1ad4-4122-8b21-bd0ff9f1c625")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="5169e270-6019-431f-822b-34d9553ee074")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="659d8c52-caba-47e7-93a1-9bcb680a47d2")>]

In [73]:
for i in a_s:
    asal = i.text
    avg_sal.append(asal)
avg_sal[0:4]

['₹ 5,97,967\n/yr', '₹ 11,12,243\n/yr', '₹ 12,12,741\n/yr', '₹ 7,37,972\n/yr']

In [77]:
#Extracting minimum salary
mi_s = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
mi_s[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="8cafbdb1-cbe9-41ea-b0ee-7ab3fdb1ac7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="54ad946f-5b94-4566-b7a6-fe04fd6b6b55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="051476bd-1c3f-434f-a7a8-a2cebd71d1ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="37f1c5cf-e2da-4a4f-917f-4cbfd2a64787")>]

In [78]:
for i in mi_s:
    misal = i.text
    min_sal.append(misal)
min_sal[0:4]

['₹333K', '₹560K', '₹436K', '₹569K']

In [79]:
#Extracting minimum salary
ma_s = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
ma_s[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="7f1d17e4-cdd4-4827-8e0f-cdc8f480e96f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="948ac063-45cc-48a1-a285-3b2e9d674969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="36f101a9-1568-4e3f-b130-03df886b2071")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d569c2c8c0d6c3d7fcf3f04cec3f7fd", element="a1e1798a-9ec4-4847-a371-5f8fc309a7b4")>]

In [80]:
for i in ma_s:
    masal = i.text
    max_sal.append(masal)
max_sal[0:4]

['₹1,080K', '₹2,147K', '₹11,274K', '₹2,648K']

In [81]:
#Checking lengths of all three lists
print(len(comp_name),len(a_s),len(mi_s),len(ma_s))

20 20 20 20

In [82]:
#Creating and storing data in a dataframe
gd = pd.DataFrame({})
gd['Company Name']= comp_name[:10]
gd['Average Salary']=avg_sal[:10]
gd['Minimum Salary']=min_sal[:10]
gd['Maximum Salary']=max_sal[:10]

In [83]:
gd

                Company Name    Average Salary Minimum Salary Maximum Salary
0  Tata Consultancy Services   ₹ 5,97,967\n/yr          ₹333K        ₹1,080K
1                  Accenture  ₹ 11,12,243\n/yr          ₹560K        ₹2,147K
2                  Delhivery  ₹ 12,12,741\n/yr          ₹436K       ₹11,274K
3                        IBM   ₹ 7,37,972\n/yr          ₹569K        ₹2,648K
4         Ericsson-Worldwide   ₹ 7,15,984\n/yr          ₹350K        ₹1,565K
5         UnitedHealth Group  ₹ 13,41,900\n/yr        ₹1,037K        ₹1,500K
6         Valiance Solutions   ₹ 7,90,812\n/yr          ₹487K        ₹1,421K
7                 Innovaccer  ₹ 11,81,047\n/yr          ₹602K        ₹1,644K
8              ZS Associates   ₹ 9,89,924\n/yr          ₹196K        ₹1,755K
9                EXL Service  ₹ 11,73,127\n/yr          ₹558K        ₹1,500K

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes : Brand, Product Description, Price, Discount %

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [67]:
driver.get('https://www.flipkart.com/')

In [68]:
search_sun=driver.find_element_by_xpath("//input[@type='text']")

In [69]:
search_sun.send_keys("Sunglasses")

In [70]:
search_btn = driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

In [71]:
#URL for 1st 40 entries
url = "https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1"

In [72]:
driver.get(url)

In [73]:
brand = []
desc = []
price =[]
disc = []

In [74]:
#Fetching brand 1-40
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="c257f373-cf36-481a-8e2f-381ea3636955")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="cad00406-9ba4-43ef-b34f-8b56aeb8bf43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="5dc58577-c936-41f1-9aae-66b02bf4d8f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="730906ff-55ee-4309-b841-0dd6af3d25fe")>]

In [75]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[0:4]

['ROZZETTA CRAFT', 'PIRASO', 'Aislin', 'FARENHEIT']

In [76]:
#Fetching description 1-40
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="2e41f72e-c9f8-4f6d-8df9-7a7b038cbe1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="cca6c732-4091-468d-8975-bed8c0118641")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="e9bb1e4b-616d-490e-9ab5-5d23431e1731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="502a42de-b9e7-4db1-92bd-91e741971d31")>]

In [77]:
for i in d_t:
    des = i.text
    desc.append(des)
desc[0:4]

['UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (59)',
 'Polarized, UV Protection Wrap-around Sunglasses (64)']

In [78]:
#Fetching price 1-40
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="14bb954c-d4ff-41d8-8fe8-2b12746747a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="46f24db0-36b9-4dbf-9d6b-fb00340be4ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="76d8e059-2c15-4392-b490-d63f08616da6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="946a7ec0-00d8-4dca-bc6e-092777bf711f")>]

In [79]:
for i in p_t:
    pri = i.text
    price.append(pri)
price[0:4]

['₹499', '₹349', '₹785', '₹599']

In [80]:
#Fetching discount 1-40
di_t = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
di_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="93019a40-0252-4286-90da-fc161ce074d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="27e84735-2c35-4a9f-921e-7dd1853c1f21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="4696db64-318f-48c0-ba88-1b1d92a37c01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="80c660f2-4138-4bce-9f40-cacc8e05e611")>]

In [81]:
for i in di_t:
    dis = i.text
    disc.append(dis)
disc[0:4]

['75% off', '78% off', '75% off', '82% off']

In [82]:
search_btn1 = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")
search_btn1.click()

In [83]:
#URL for 40-80 entries
url = "https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2"

In [84]:
driver.get(url)

In [85]:
#Fetching brand 40-80
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="5c4c352b-d2a1-426e-bb5a-83363e9b697e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="4a517fd6-3141-4ea4-a45a-ec10dfab1917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="430f06bb-3d53-4a71-88ea-5c97d8ee3659")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="ac350f6f-1c1e-43ca-a7ab-ca16aab2159a")>]

In [86]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[40:44]

['DANIEL KLEIN', 'jaknap', 'BAJERO', 'ADRENEX']

In [87]:
#Fetching description 40-80
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="911caee4-8b68-4140-8a0c-85b3fe816fa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="b552fd1a-a29d-4694-8777-4caae795c539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="76a12e7c-9c3c-4377-84bd-77f113878264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="0e1a0898-877d-4dcc-bec1-55705b0abdc6")>]

In [88]:
for i in d_t:
    des = i.text
    desc.append(des)
desc[40:44]

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)']

In [89]:
#Fetching price 40-80
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="3060405b-3cb8-489a-9e70-7781b3deaf6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="80e0bbaf-f933-4789-a6f6-1d7e1e07f1f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="ca92d7c6-c125-45a1-8722-9dbfc919f732")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="080a41b7-c28d-4694-988b-7bc0339d662a")>]

In [90]:
for i in p_t:
    pri = i.text
    price.append(pri)
price[40:44]

['₹1,185', '₹249', '₹1,299', '₹699']

In [91]:
#Fetching discount 40-80
di_t = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
di_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="cfd8e389-c5e6-456a-a91b-c0ab4f9412c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="5fe3b9f9-cf7e-4775-9f85-a998acba70ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="b48768b0-7092-4b45-914a-ca9f9641d770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="51957799-bc13-43ea-b0e7-ea2fcf8a4607")>]

In [92]:
for i in di_t:
    dis = i.text
    disc.append(dis)
disc[40:44]

['75% off', '50% off', '76% off', '66% off']

In [94]:
#URL for 80-120 entries
url = "https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3"

In [95]:
driver.get(url)

In [96]:
#Fetching brand 80-120
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="d4d13763-72f8-437e-8564-0ced08fd52ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="9dab94c3-7d27-4715-8c5c-21f113c17637")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="950bb80a-cbd2-4dd1-bb89-4320dabb1e78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="535340ca-5fd1-43f0-84aa-735172d7da82")>]

In [97]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[80:84]

['FARENHEIT', 'DANIEL KLEIN', 'BAJERO', 'ROZZETTA CRAFT']

In [98]:
#Fetching description 80-120
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="88623074-c104-41b2-8ab8-426a082ba092")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="8857c79d-cfa5-42cc-8117-02dcaf363116")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="019b9430-43b3-4d20-8083-df45bbc4f428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="97d837b4-6a88-48e3-804f-0e649b4b8252")>]

In [99]:
for i in d_t:
    des = i.text
    desc.append(des)
desc[80:84]

[]

In [100]:
#Fetching price 80-120
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="24b88204-1961-47c6-96b8-4f33a0f53c77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="a864ab2c-e617-4a1d-a9c1-0348f85a13bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="f9ff2ab5-2078-4842-93e9-3e2b94348a6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="dde7b309-b749-4650-8627-540c01e44f38")>]

In [101]:
for i in p_t:
    pri = i.text
    price.append(pri)
price[80:84]

['₹599', '₹1,306', '₹1,299', '₹499']

In [102]:
#Fetching discount 80-120
di_t = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
di_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="cb8c618b-9f57-45da-a8ee-804cfb557b56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="fa7a349f-df55-49b3-a9a4-f2804b4c6f6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="2bcd3ec3-549c-4b88-bbd2-376ff61951ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6929d4c8dde64b5cb6914c435aad8a32", element="5994dadf-ff37-437a-aef6-0d367f4c8666")>]

In [103]:
for i in di_t:
    dis = i.text
    disc.append(dis)
disc[80:84]

['75% off', '81% off', '41% off', '78% off']

In [104]:
print(len(brand),len(desc),len(price),len(disc))

120 63 120 117

In [108]:
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brand[:60]
sunglasses['Product_Description']=desc[:60]
sunglasses['Price']=price[:60]
sunglasses['Discount']=disc[:60]

In [109]:
sunglasses

,Brand,Product_Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹499,75% off
1,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
2,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (59)",₹785,75% off
3,FARENHEIT,"Polarized, UV Protection Wrap-around Sunglasse...",₹599,82% off
4,Gio Collection,UV Protection Cat-eye Sunglasses (Free Size),"₹1,645",50% off
5,GIORDANO,UV Protection Aviator Sunglasses (Free Size),"₹2,495",50% off
6,Resist,UV Protection Spectacle Sunglasses (54),₹999,50% off
7,DANIEL KLEIN,UV Protection Butterfly Sunglasses (55),"₹1,306",40% off
8,BAJERO,UV Protection Butterfly Sunglasses (Free Size),₹999,85% off
9,OCnik,UV Protection Wayfarer Sunglasses (Free Size),₹269,73% off
10,Rim & Co.,UV Protection Rectangular Sunglasses (Free Size),₹699,53% off
11,GENEVE,UV Protection Aviator Sunglasses (Free Size),₹449,55% off
12,I-GOG,UV Protection Retro Square Sunglasses (Free Size),"₹1,650",86% off
13,PIRASO,UV Protection Rectangular Sunglasses (16),₹209,30% off
14,Invu,UV Protection Aviator Sunglasses (54),"₹2,169",40% off
15,Double Battery,UV Protection Butterfly Sunglasses (60),₹479,81% off
16,Irayz,UV Protection Rectangular Sunglasses (55),₹189,83% off
17,Perazzi,Gradient Retro Square Sunglasses (66),₹199,5% off
18,Fastrack,Polarized Retro Square Sunglasses (52),₹759,81% off
19,PIRASO,Mirrored Retro Square Sunglasses (53),₹299,85% off
20,Dannilo,"Polarized, UV Protection Sports, Wrap-around S...",₹220,84% off
21,Marc Jones,UV Protection Oval Sunglasses (57),₹189,80% off
22,xevidence,UV Protection Cat-eye Sunglasses (58),₹293,86% off
23,PIRASO,UV Protection Over-sized Sunglasses (59),₹359,64% off
24,SP,UV Protection Aviator Sunglasses (58),₹269,70% off
25,GENXTRA,"UV Protection, Gradient Retro Square Sunglasse...",₹149,9% off
26,Ray-Ban,UV Protection Retro Square Sunglasses (Free Size),"₹15,895",58% off
27,OWO,UV Protection Aviator Sunglasses (Free Size),₹249,78% off
28,VAST,UV Protection Retro Square Sunglasses (58),₹655,85% off
29,PIRASO,Gradient Cat-eye Sunglasses (Free Size),₹225,37% off
30,Shade House,UV Protection Retro Square Sunglasses (Free Size),₹249,15% off
31,POLAROID,Others Round Sunglasses (Free Size),"₹3,060",80% off
32,GB Fashion Sunglasses,UV Protection Butterfly Sunglasses (55),₹789,86% off
33,PIRASO,UV Protection Aviator Sunglasses (56),₹359,81% off
34,CHORIOTIS,Aviator Sunglasses (55),"₹1,299",50% off
35,fashion sunglasses,UV Protection Retro Square Sunglasses (Free Size),₹999,80% off
36,TOUCH OF FINE,UV Protection Retro Square Sunglasses (Free Size),₹195,75% off
37,jaknap,UV Protection Retro Square Sunglasses (Free Size),₹249,58% off
38,VOYAGE,UV Protection Wayfarer Sunglasses (Free Size),₹750,60% off
39,ROYAL SON,UV Protection Over-sized Sunglasses (60),₹599,40% off
40,DANIEL KLEIN,UV Protection Retro Square Sunglasses (Free Size),"₹1,185",75% off
41,jaknap,UV Protection Retro Square Sunglasses (Free Size),₹249,50% off
42,BAJERO,UV Protection Aviator Sunglasses (54),"₹1,299",76% off
43,ADRENEX,"UV Protection, Gradient Oval Sunglasses (60)",₹699,66% off
44,VOYAGE,UV Protection Aviator Sunglasses (Free Size),₹499,60% off
45,Resist,"UV Protection, Gradient Retro Square Sunglasse...",₹999,70% off
46,Aislin,UV Protection Oval Sunglasses (59),₹732,78% off
47,FARENHEIT,Mirrored Retro Square Sunglasses (Free Size),₹549,50% off
48,Gio Collection,UV Protection Aviator Sunglasses (Free Size),"₹1,995",75% off
49,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (Free Size),₹499,30% off
50,Invu,UV Protection Retro Square Sunglasses (Free Size),"₹2,169",10% off
51,Ray-Ban,UV Protection Wayfarer Sunglasses (55),"₹6,381",81% off
52,CHORIOTIS,UV Protection Retro Square Sunglasses (58),"₹1,299",78% off
53,PIRASO,UV Protection Retro Square Sunglasses (58),₹349,66% off
54,jaknap,UV Protection Rectangular Sunglasses (Free Size),₹249,50% off
55,BAJERO,UV Protection Aviator Sunglasses (Free Size),"₹1,299",40% off
56,DANIEL KLEIN,Polarized Retro Square Sunglasses (Free Size),"₹1,004",60% off
57,Resist,UV Protection Retro Square Sunglasses (Free Size),₹999,85% off
58,FARENHEIT,"UV Protection, Gradient Retro Square Sunglasse...",₹449,80% off
59,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (58),₹499,81% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

As shown in the above page you have to scrape the tick marked attributes.
These are: 
1. Rating
2. Review_summary
3. Full review
- You have to scrape this data for first 100 reviews.

In [110]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [112]:
driver.get(" https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [113]:
r_t=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
r_t.click()

In [115]:
rat=[]
rev=[]
f_rev=[]

In [116]:
url= 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'

In [117]:
f_p=0
l_p=1
urls = []
for page in range(f_p,l_p+1):
    driver.get(url)
    p_urls=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']|//a[@class='ge-49M']")
    for i in p_urls:
        urls.append(i.get_attribute('href'))

In [118]:
urls=urls[:10]
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [120]:
for i in urls:
        driver.get(i)
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            if i is not None:
                rat.append(i.text)
            else:
                rat.append('-')
                
rat[:5]

['5', '5', '5', '5', '5']

In [121]:
for i in urls:
        driver.get(i)
        review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for j in review:
            if j is not None:
                rev.append(j.text)
            else:
                rev.append('-')
                
rev[:5]

['Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Great product',
 'Highly recommended']

In [122]:
for i in urls:
        driver.get(i)
        freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for j in freview:
            if j is not None:
                f_rev.append(j.text)
            else:
                f_rev.append('-')
f_rev[:5]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [123]:
print(len(rat),len(rev),len(f_rev))

89 100 100

In [124]:
ipf = pd.DataFrame({})
ipf['Rating']=rat[:89]
ipf['Review_summary']=rev[:89]
ipf['Full_review']=f_rev[:89]

In [125]:
ipf.head(10)

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
5,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
6,5,Fabulous!,This is my first iOS phone. I am very happy wi...
7,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
8,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
9,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [144]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [145]:
driver.get('https://www.flipkart.com/')

In [146]:
search_sne=driver.find_element_by_xpath("//input[@type='text']")

In [147]:
search_sne.send_keys("Sneakers")

In [148]:
search_btn = driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

In [149]:
#URL for 1st 40 entries
url = "https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [150]:
driver.get(url)

In [151]:
brand = []
desc = []
price =[]
disc = []

In [152]:
#Fetching brand 1-40
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="1fe5e8b1-2572-482d-80a1-e75f07fd87f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="d00da0b1-5bf0-4588-87b1-fc590d5761b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="d58fb550-bd5f-40b6-b879-a0bb521a18cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="b2650a00-39db-45e8-bcae-939a2633c409")>]

In [153]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[0:4]

['Chevit', 'KWIK FIT', 'CLARKS', 'SPARX']

In [154]:
#Fetching description 1-40
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="55246ccb-54e7-4f77-8603-cbf06017dc77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="4baab0d9-17f5-4467-9876-aba62f68faa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="781f9a88-55fc-4a6d-a5a2-28ec23d3b0cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="58f4819c-6535-4c6f-9191-f3be3fc05ff0")>]

In [155]:
for i in d_t:
    if i is not None:
        desc.append(i.text)
    else:
        desc.append('-')
desc[:5]

["Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers For Men',
 'Men Brown Solid Mahogany Leather Mid-Top Sneakers Sneak...',
 'Men White Sneakers Sneakers For Men',
 'SM-439 Sneakers For Men']

In [156]:
#Fetching price 1-40
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="876e041b-7093-48f6-a27d-419360ddce69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="8214dc50-e8ee-43be-8654-3f69dd232768")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="2532e843-bab0-4f0c-a1c2-eb55f7c66a83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="f6b2cb97-b74b-4c0e-bf77-975c3040ba73")>]

In [157]:
for i in p_t:
    if i is not None:
        price.append(i.text)
    else:
        price.append('-')
price[:5]

['₹420', '₹399', '₹2,566', '₹615', '₹699']

In [158]:
#Fetching discount 1-40
di_t = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
di_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="300f897e-21d1-46c0-a2a7-6c71341fa56b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="adb7fe5e-1d01-48d2-aa23-6913f44b65de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="a43b6dac-0c7d-46ca-bea3-07bbf481860c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="3d7c4eec-b68a-4ffc-b440-9da7299e221f")>]

In [159]:
for i in di_t:
    if i is not None:
        disc.append(i.text)
    else:
        disc.append('-')

In [160]:
print(len(brand),len(desc),len(price),len(disc))

40 33 40 36

In [162]:
search_btn1 = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")
search_btn1.click()

In [163]:
#Fetching brand 40-80
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="5dc4e751-c38d-43d2-9269-746145ffb6bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="63e231ab-0f12-47b7-97e9-318e5bbd4e75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="93f3a3a7-2744-43f5-8569-29d3270f77c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="733c13c3-4c92-40cd-a37c-2f5a1fb68f82")>]

In [164]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[0:4]

['Chevit', 'KWIK FIT', 'CLARKS', 'SPARX']

In [165]:
#Fetching description 40-80
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="34fd1ca5-001f-467d-80e2-8de7789174e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="711d9f68-897e-4772-bd0d-963e8973ae09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="00ab5a92-f2d8-4fd9-b7e5-432932c1346b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="9ec85b16-427d-4eee-a1bf-3ada9f52d349")>]

In [166]:
for i in d_t:
    if i is not None:
        desc.append(i.text)
    else:
        desc.append('-')

In [167]:
#Fetching price 40-80
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="850c935e-ee4e-40b5-9a50-aa05196ed251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="c403ea75-c4d0-455f-afb4-04f77adbf87e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="81607208-08f6-4cec-9029-b6c1dbf6fb26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="386368af-3c16-412f-b1f5-440dac03f5a8")>]

In [168]:
for i in p_t:
    if i is not None:
        price.append(i.text)
    else:
        price.append('-')

In [169]:
#Fetching discount 40-80
di_t = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
di_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="914406ff-59c2-4597-ae47-05e78fa1dbf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="67a41c54-62ea-4a80-b3c0-52c590c80202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="b447d9a6-5cd3-4656-87e5-7c60ccce5164")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="2e62d086-e748-42c3-bca0-bba102b65062")>]

In [170]:
for i in di_t:
    if i is not None:
        disc.append(i.text)
    else:
        disc.append('-')

In [171]:
print(len(brand),len(desc),len(price),len(disc))

80 66 80 76

In [172]:
search_btn2=driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span[1]")
search_btn2.click()

In [173]:
#Fetching brand 80-120
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="1b86d61a-7ea6-4131-861c-33a2967e6410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="cd8fefa3-8269-40e5-adfa-aa94e89d43e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="961c4e13-ffc9-46ac-bd03-bd93db3b88e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="1af0243a-87e8-4d6e-bc93-c7cee9841257")>]

In [174]:
for i in b_t:
    bra = i.text
    brand.append(bra)

In [175]:
#Fetching description 80-120
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="5c3bc3d6-3cba-47ee-af53-9b5d906b5ae4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="5c5cff84-55f2-4e3d-a565-5e23ab69f96f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="5f99a360-4c90-4112-87f7-4775b2cc6b8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="74132ab9-13c8-46bc-8867-fabac13077c7")>]

In [176]:
for i in d_t:
    if i is not None:
        desc.append(i.text)
    else:
        desc.append('-')

In [177]:
#Fetching price 80-120
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="af204b62-a562-4398-a130-0305d88b430d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="c07d4589-e411-4266-8daf-51d44d26561c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="afe6231d-3186-4915-9814-032324e59c05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="4082b5e7-47c9-47e0-89dd-297ee85f6e67")>]

In [178]:
for i in p_t:
    if i is not None:
        price.append(i.text)
    else:
        price.append('-')

In [179]:
#Fetching discount 80-120
di_t = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
di_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="a5870bb7-4e8b-4fcd-b68d-47dd86216c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="9493c57e-385a-4fe7-b3ec-eeae5abca13a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="46f01351-9972-4b7c-9ae9-254beec4054c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="445510a6f39897f7c2f8c74c1a8f2e85", element="c52ca60f-abb4-4288-8db5-da504d44d1db")>]

In [180]:
for i in di_t:
    if i is not None:
        disc.append(i.text)
    else:
        disc.append('-')

In [181]:
print(len(brand),len(desc),len(price),len(disc))

120 102 120 116

In [183]:
s_flip=pd.DataFrame({})
s_flip['Brand']=brand[:100]
s_flip['Description']=desc[:100]
s_flip['Prices']=price[:100]
s_flip['Discount %']=disc[:100]

In [184]:
s_flip

,Brand,Description,Prices,Discount %
0,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,₹420,57% off
1,KWIK FIT,Sneakers For Men,₹399,60% off
2,CLARKS,Men Brown Solid Mahogany Leather Mid-Top Sneak...,"₹2,566",63% off
3,SPARX,Men White Sneakers Sneakers For Men,₹615,17% off
4,SPARX,SM-439 Sneakers For Men,₹699,49% off
...,...,...,...,...
95,United Colors of Benetton.,Combo Pack of 3 Lattest Collection Stylish Cas...,"₹1,749",62% off
96,HRX by Hrithik Roshan,Smash v2 CV Sneakers For Men,"₹2,249",53% off
97,SWIGGY,Sneakers For Men,₹664,19% off
98,ARMADO,shoes For Mens Combo(AR)-1635-1525 ( Multicolo...,₹759,25% off
99,VORII,Sneakers For Men,₹379,54% off

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”.

- And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
- Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [3]:
driver.get(" https://www.myntra.com/shoes")

In [5]:
pri_button = driver.find_element_by_css_selector('input[value*="6612.0 TO 13075.0"]') 
webdriver.ActionChains(driver).move_to_element(pri_button ).click(pri_button ).perform()

In [6]:
col_button = driver.find_element_by_css_selector('input[value*="Black"]')
webdriver.ActionChains(driver).move_to_element(col_button ).click(col_button ).perform()

In [7]:
#URL for 1st 50 entries
url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0"
driver.get(url)

In [8]:
brand = []
desc = []
price =[]

In [9]:
#Fetching brand 1-40
b_t = driver.find_elements_by_xpath("//h3[@class='product-brand']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="5d0140ba-8970-4662-92ce-14f2f412aa29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="3c87172a-93c7-4051-b77c-5ee698ccc95f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="910f9c16-02dd-4519-b070-42dee9e23d37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="eef87bda-4989-499f-970f-a8387c20eaad")>]

In [10]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[0:4]

['Nike', 'Nike', 'PUMA Motorsport', 'Nike']

In [11]:
#Fetching price 1-500
p_t = driver.find_elements_by_xpath("//div[@class='product-discountedPrice']|//div[@class='product-price']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="a096308a-5061-40ed-a71f-b652e027c327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="f6ed5a3b-aa5e-420c-8fd1-24ba38bdbb59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="9ee5403e-e3a0-4ec4-803d-ff98ebc01ea2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="fffb8710-0cb7-426f-9e4c-fbfa244550f6")>]

In [12]:
for i in p_t:
    pri = i.text
    price.append(pri)
price[0:4]

['Rs. 8246Rs. 10995(25% OFF)',
 'Rs. 7197Rs. 11995( 40 % OFF)',
 'Rs. 7999',
 'Rs. 10121Rs. 13495(25% OFF)']

In [13]:
#Fetching description 1-40
d_t = driver.find_elements_by_xpath("//h4[@class='product-product']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="423fda77-564d-4f56-8a02-bd69850c075c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="9c5235cc-31bd-42a9-95a6-6aecaca9fed8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="e22bc0d1-ffc7-4e53-8fab-b22ab113b9fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="7d18ffb7-e25a-4e2d-8be8-2e882169767c")>]

In [14]:
for i in d_t:
    des = i.text
    desc.append(des)
desc[0:4]

['Men REACT MILER Running Shoes',
 'Women Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men AIR ZOOM Running Shoes']

In [15]:
print(len(brand),len(desc),len(price))

50 50 50

In [16]:
#Search button for next 50
search_btn=driver.find_element_by_xpath("//li[@class='pagination-next']")
search_btn.click()

In [17]:
#Fetching brand 50-100
b_t = driver.find_elements_by_xpath("//h3[@class='product-brand']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="0987b23d-4d9c-458c-9212-93d094ee26a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="f2a343ca-733b-44fc-831f-59a17776ea5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="dbfe12cf-f4ff-4a17-8407-ef77dc357d48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="18467105-d1e3-4127-a46b-4c5e0e540a1d")>]

In [18]:
for i in b_t:
    bra = i.text
    brand.append(bra)

In [19]:
#Fetching price 50-100
p_t = driver.find_elements_by_xpath("//div[@class='product-discountedPrice']|//div[@class='product-price']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="258b6d36-6f3e-42b9-ae6a-651aa510577b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="09e21d18-73b9-4422-8fdd-d17ca62e11b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="b6c19379-f474-4929-b278-564f0941807b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="d8c513f3-cca2-48a2-a4c1-198bf681b4ba")>]

In [20]:
for i in p_t:
    pri = i.text
    price.append(pri)

In [21]:
#Fetching description 50-100
d_t = driver.find_elements_by_xpath("//h4[@class='product-product']")
d_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="28e576ad-dc57-4192-a538-31b2dec27951")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="864a1477-aa32-4f75-8982-fca0edc7440a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="85bd1d4c-b4e9-41c3-8982-81623fa39e7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="3ad872ed-f50a-4919-92c5-0056de2bf78a")>]

In [22]:
for i in d_t:
    des = i.text
    desc.append(des)

In [23]:
print(len(brand),len(desc),len(price))

100 100 100

In [24]:
myn_sne=pd.DataFrame({})
myn_sne['Brand']=brand
myn_sne['Price']=price
myn_sne['Description']=desc

In [25]:
myn_sne

,Brand,Price,Description
0,Nike,Rs. 8246Rs. 10995(25% OFF),Men REACT MILER Running Shoes
1,Nike,Rs. 7197Rs. 11995( 40 % OFF),Women Running Shoes
2,PUMA Motorsport,Rs. 7999,Unisex Mercedes Running Shoes
3,Nike,Rs. 10121Rs. 13495(25% OFF),Men AIR ZOOM Running Shoes
4,Nike,Rs. 11495,AIR ZOOM PEGASUS Running Shoes
...,...,...,...
95,Geox,Rs. 7867Rs. 10490(25% OFF),Men Leather Formal Oxfords
96,Geox,Rs. 9367Rs. 12490(25% OFF),Men Leather Formal Oxfords
97,Cole Haan,Rs. 7499Rs. 14999(50% OFF),Women Woven Design Sneakers
98,Geox,Rs. 11242Rs. 14990(25% OFF),Men Leather Formal Derbyacs
99,UNDER ARMOUR,Rs. 8999,Charged RC Sportstyle Sneakers

# Q10: Go to webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [26]:
driver.get(' https://www.amazon.in/')

In [28]:
lap_s=driver.find_element_by_id('twotabsearchtextbox')
lap_s.send_keys('Laptop')

In [29]:
search_btn = driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

In [30]:
isev = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
titletext=isev.get_attribute('innerHTML').splitlines()[0]
isev.click()

In [34]:
brand = []
rating = []
price =[]

In [35]:
b_t=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
b_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="4b70d0ec-58c7-429d-8b83-7fed5c18c85d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="1452e922-be90-450c-b85d-706b95b5b82d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="c6b3d718-04af-4bb3-b68c-31700f297393")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="7a2b7431-c8b6-4b90-883e-084a2b01e651")>]

In [36]:
for i in b_t:
    bra=i.text
    brand.append(bra)
    
brand[0:4]

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'MSI Creator 15M, Intel i7-10750H, 15.6" FHD IPS-Level 144Hz 72%NTSC Thin Bezel, close to 100%sRGB Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX 1660Ti Max-Q/Silver/1.86Kg), A10SD-1041IN',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam']

In [37]:
r_t=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
r_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="1fff4a51-7801-43f1-96b3-6c0569f049ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="f2a091b1-bd7a-4e34-9473-42f594ef88e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="32b022b4-d08b-41ff-8b04-39287a43f280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="66310618-ebd3-40b0-be0a-2a48d47a0876")>]

In [38]:
for i in r_t:
    rat=i.text
    rating.append(rat)
    
rating[:4]

['', '', '', '']

In [39]:
p_t=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
p_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="a02cdf9c-d29b-4e35-87cc-4707948e33e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="5606d163-b9ce-4c0b-9116-7189b8692aa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="698f310b-2b03-4b3f-b6cd-5256d8093696")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ed1b97abb0ce1150df78fac3c6c62bd3", element="e540b008-afda-4780-aceb-202abb693cdf")>]

In [40]:
for i in p_t:
    pri=i.text
    price.append(pri)
price[0:4]

['86,990', '1,09,990', '1,98,590', '49,999']

In [41]:
print(len(brand),len(rating),len(price))

28 28 25

In [42]:
ama_l=pd.DataFrame({})
ama_l['Brand']=brand[:20]
ama_l['Rating']=rating[:20]
ama_l['Price']=price[:20]

In [43]:
ama_l

                                                Brand Rating     Price
0   Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...           86,990
1   MSI Creator 15M, Intel i7-10750H, 15.6" FHD IP...         1,09,990
2   Dell Alienware m15(R3) 15.6-inch FHD Gaming La...         1,98,590
3   Mi Notebook Horizon Edition 14 Intel Core i5-1...           49,999
4   Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...           79,999
5   HP Pavilion Gaming 10th Gen Intel Core i7 Proc...         1,35,490
6   Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...           76,500
7   HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...           40,790
8   (Renewed) HP EliteBook 820 G4 Laptop (CORE I5 ...         1,44,990
9   ASUS ROG Zephyrus M15 (2020), 15.6" 4K UHD, In...           47,190
10  (Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...           78,990
11  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...           77,990
12  Dell G3 3500 Gaming 15.6inch 120hz FHD Display...           86,990
13  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...           35,989
14  LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...         1,20,240
15  MSI GL65 Leopard 10SDK-069IN Intel Core i7-107...           96,061
16  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...           92,888
17  ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Co...           77,990
18  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...           76,990
19  HP Pavilion x360 (2021) 14" FHD Touchscreen La...           36,990