In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [2]:
#Importing reqiured libraries
import selenium
import pandas as pd
from selenium import webdriver

In [7]:
#Connecting to web driver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [4]:
driver.close()

In [8]:
driver.get("https://www.naukri.com")

In [10]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [12]:
search_job.send_keys("Data Scientist")

In [13]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

In [14]:
search_loc.send_keys("Delhi")

In [16]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [17]:
#url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs-in-delhi?k=data%20scientist&l=delhi"

In [18]:
driver.get(url)

In [19]:
#List for storing information
job_title = []
comp_name = []
loca = []

In [21]:
#Extracting job title
t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
t_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="8671e5ef-f566-4b25-b3bc-b51c94e4dba9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="cde52332-0a0e-448a-95b8-ef9edcb46490")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="af969299-6d49-4f58-8e0b-f08fe8521a70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="0052e821-e609-424d-b63b-7863798a98c0")>]

In [22]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Python - Banking Domain',
 'Data Scientist']

In [23]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
c_n[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="d99c603c-565a-4609-b076-932323a865ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="2898f2f7-e7b0-47dd-b349-236dfa7de9e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="ce48349c-1af8-4476-9ff0-4e00a06a6e0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="c518ec4e-a8a0-422a-8f77-a4f9f26d7b8f")>]

In [24]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['NatWest Group',
 'Avom Consultants',
 'Huquo Consulting Pvt. Ltd',
 'itForte Staffing Services Private Ltd.']

In [27]:
#Extracting location
l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")
l_n[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="4ca3bf1c-f048-4cb3-9290-521200e6488e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="37d1f27e-ab60-4b92-bad2-9b7a36a914b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="9aa7656f-5e3c-49b1-bdc5-f8c5b9d32cee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f115e13586c31f0b5fb3545c23df49d", element="2bbf5af4-dbc2-4ac2-8998-575c047ec9cd")>]

In [28]:
for i in l_n:
    locations = i.text
    loca.append(locations)
loca[0:4]

['Delhi / NCR',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi / NCR',
 'Gurgaon/Gurugram']

In [29]:
#Checking lengths of all three lists
print(len(t_t),len(c_n),len(l_n))

20 20 20

In [33]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Title']=job_title
naukri['Company Name']=comp_name
naukri['Locations']=loca

In [35]:
naukri

,Title,Company Name,Locations
0,Data Scientist,NatWest Group,Delhi / NCR
1,Senior Data Scientist,Avom Consultants,"Pune, Bangalore/Bengaluru, Delhi / NCR"
2,Data Scientist - Python - Banking Domain,Huquo Consulting Pvt. Ltd,Delhi / NCR
3,Data Scientist,itForte Staffing Services Private Ltd.,Gurgaon/Gurugram
4,Data Scientist - KPO - IIT/NIT/BITS,TalentCo Search Pvt Ltd,"Mumbai, Bangalore/Bengaluru, Delhi NCR"
5,SAVP - Data Scientist - Data Science Team - In...,Huquo Consulting Pvt. Ltd,Gurgaon/Gurugram
6,Data Scientist,American Express Global Business Travel,Gurgaon/Gurugram
7,Data Scientist,Msg.ai,Gurgaon/Gurugram
8,Data Scientist,Seven Consultancy,New Delhi
9,Senior Data Scientist/Manager Data Scientist,Novitas Infotech,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru"
10,Data Scientist-Analytics & Insights,Hiring Joint,Noida
11,Machine Learning Engineer/ Data Scientist,D rr AG,Noida
12,Data Scientist,NEEMTREE INTERNET PVT LTD,"Gurgaon/Gurugram, haryana"
13,Data Scientist - Analytics,Optum Global Solutions (India) Private Limited,Gurgaon/Gurugram
14,Data Scientist - Natural Language Processing/S...,Optum Global Solutions (India) Private Limited,Gurgaon/Gurugram
15,Data Scientist,Beno Staffing,Gurgaon/Gurugram
16,Data Scientist,SUPPORT STAR CORPORATE SERVICES PVT. LTD.,Gurgaon/Gurugram
17,Senior Data Scientist,STATXO,"Gurgaon/Gurugram, Bangalore/Bengaluru"
18,Data Scientist - Digital Enterprise,Maruti Suzuki India,Gurgaon/Gurugram
19,Senior Data Scientist-Machine Learning,B G CONSULTANTS PVT LTD,New Delhi